  body {
      background-color: black;
      margin: 0;
      text-align: center;
      font-family: Verdana;
  }

  .phone-video {
      display: inline-block;
      justify-content: center;
      text-align: center;
  }

  header {
      width: 100%;
  }

  h1 {
    color: white;
    font-size: 3.25rem;
    font-weight: normal;
  }

  .download {
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
  }

  h2 {
    color: white;
    font-size: 42px;
    font-weight: 300;
  }
  .container p {
    font-family: Verdana;
    color: Gray;
    font-size: 21px;
    z-index: 20;

  }

  .divider {
    margin-top: 25px;
  }

  footer {
    color: gray;
    text-align: right;
    margin: 15px;
  }

 